@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

@custom-variant dark (&:is(.dark *));

body {
  font-family: "Roboto", sans-serif;
}

:root {
  /* Brand */
  --primary: #14462e;
  --secondary: #227c52;
  --accent: #5ebd93;

  /* Layout */
  --background: #f6f6f7;
  --card: #fffefe;


  /* Semantic */
  --info: #05c3fb;
  --success: #1abe17;
  --warning: #eab300;
  --danger: #e82646;

  /* Radius */
  --radius-sm: 5px;
  --radius-md: 6px;
  --radius-lg: 7px;
  --radius-xl: 9px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--text);
  --color-heading: var(--heading);
  --color-subtle: var(--subtle);

  --color-card: var(--card);
  --color-card-foreground: var(--text);

  --color-primary: var(--primary);
  --color-primary-foreground: #ffffff;

  --color-secondary: var(--secondary);
  --color-secondary-foreground: #ffffff;

  --color-accent: var(--accent);
  --color-accent-foreground: #14462e;

  --color-muted: #eef2f1;
  --color-muted-foreground: #5f6d67;

  --color-border: #dde2ee;
  --color-input: #dde2ee;
  --color-ring: var(--primary);

  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-destructive: var(--danger);
}


.dark {
  --background: #0f1f18;
  --card: #162a21;

  --text: #e8f2ed;
  --heading: #ffffff;
  --subtle: #b7c9c1;

  --color-border: #223a30;
  --color-input: #223a30;
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }


  p {
    @apply text-foreground;
  }

  .text-subtle {
    @apply text-subtle;
  }
}